* {
	box-sizing: border-box;
}
 h1, h2, h3 {
 			font-family: 'Georgia', Times, Times New Roman, serif;

 }

h2, h3 { 
	 color: #4aaaa5;

}

h3 { 
	font-size: 18px;
 }

.container {
			width: 1060px;
			background-color: #ffffff;
			margin: 0 auto 0 auto;
			font-family: "Arial", 'Helvetica Neue', Helvetica, sans-serif;
			padding-top: 30px;

}

.headingcontainer {
			width: 960px;
			margin: 0 auto 0 auto;
			text-align: right;

		
}

.namecontainer {

			width: 220px;
			height: 100px;
			background-color: #4aaaa5;
			text-align: center;
			color: white;
			padding: 10px;
			float:left;


}

.navcontainer {
			width: 250px;
			text-align: center;
			float:right;
			line-height: 500%;
}


.imagecontainer {
			clear: both;
			width: 1060px;
			height:550px;
			background-position: right top;
			padding-top: 50px;
			padding-left: 50px;
			border-top: 2px solid #dddddd;
			background-image: url("../images/backgroundmoon.png");
		

 }

 #background { position: relative;
  }

.aboutmecontainer {
			width: 674px;
			height: 440px;
			background-color: #ffffff;
			border: 1px solid #dddddd;
			padding: 12px;
			float: left;
}

.aboutmecontainertwo {
			clear: both;
			width: 650px;
			height: 440px;
			background-color: #ffffff;
			border: 1px solid #dddddd;
			padding: 12px;
			float: left;

}


.linebox {  clear: both;
			width: 610px;
			height: 360px;
			border-top: 2px solid #dddddd; 
			text-align: left;
			color: #777777;

		}

h5 { position: absolute;
	 top: 200px;
	 left: 0;
	 background-color: #ffffff;
	 color: black;
	 width: 100%; 

	}

.imagetext {
			position: relative; /*for portfolio */
			width: 100%;
}

h4 { position: absolute; 
	 top: 100px;
	 left: 0;
	 width: 100%;
	}

#runnerimage {
				padding: 10px;
				width: 170px;
				height: 170px;
				float:left;
}

.connectwithmecontainer {
			width: 270px;
			height: 210px;
			background-color: #ffffff;
			border: 1px solid #dddddd;
			margin-right: 20px;
			padding: 18px;
			float: right;
			text-align: center;
	
}

.lineboxconnect {
		width: 230px;
		height: 150px;
		border-top: 2px solid #dddddd; 
		padding: 12px;
}


#facebook, #instagram, #github {
			width: 50px;
			height: 50px;
}

#linepic {
			width: 50px;
			height: 50px;
}

.footer {
		margin: 0 auto 0 auto;
		font-size: 10px;
		text-align: center;
		color: #777777;
		padding: 20px;
		background-color: #666666;
		border-top: 7px solid #4aaaa5;
		width: 1060px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #dddddd; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.containercontact {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
}

/*media query*/

@media screen and (max-width: 980px) {

.container {
			width: 100%;
		}

.headingcontainer {
			width: 765px;
			margin: 0 auto 0 auto;
			text-align: right;	
}

.imagecontainer {
			clear: both;
			width: 960px;
			height:890px;
			padding-top: 30px;
			padding-left: 75px;	
 }

.aboutmecontainer {
			width: 415px;
			height: 820px;		
}

.linebox { 
			width: 365px;
			height: 780px;
			padding: 5px;	
}

#runnerimage {
			clear:both;
			padding-top: 30px;
			padding-bottom: 20px;
			width: 365px;
			height: 280px;
			margin-right: 10px;	
}

.connectwithmecontainer {
			width: 240px;
			height: 190px;
			margin-left: 50px;	
			float: left;	
}

.lineboxconnect {
		clear: both;
		width: 200px;
		height: 180px;
		
}

.footer {
		  width: 100%;
}

}

@media screen and (max-width: 768px) {

.container {
			width: 100%;
		}

.headingcontainer {
			width: 700px;
			margin: 0 auto 0 auto;
			text-align: right;	
}

.imagecontainer {
			width: 768px;
			height:800px;
			padding-top: 30px;
			padding-bottom: 30px;
			padding-left: 10px;	
			padding-right: 10px;
 }

.aboutmecontainer {
			width: 700px;
			height: 430px;	
			margin-bottom: 20px;	
}

.linebox { 
			width: 670px;
			height: 400px;
			padding: 5px;	
}

#runnerimage {
			padding-top: 20px;
			padding-bottom: 20px;
			width: 200px;
			height: 200px;
			margin-right: 5px;	
}

.connectwithmecontainer {
			width: 700px;
			height: 190px;
			margin-top: 15px;
			margin-left: 0px;
			text-align: left;		
}

.lineboxconnect {
			width: 670px;
			height: 180px;	
}

.footer {
		  width: 100%;
}

}

@media screen and (max-width: 640px) {

.container {
			width: 100%;
		}

.headingcontainer {
			width: 600px;
			margin: 0 auto 0 auto;
			text-align: right;	
}

.namecontainer {

			width: 100%;
			height: 80px;
			background-color: #4aaaa5;
			text-align: center;
			color: white;
}

.navcontainer {
			width: 100%;
			text-align: center;
			line-height: 300%;
}

.imagecontainer {
			width: 640px;
			height:1000px;
			padding-top: 30px;
			padding-bottom: 30px;
			padding-left: 10px;	
			padding-right: 10px;
 }

.aboutmecontainer {
			width: 600px;
			height: 720px;	
			margin-bottom: 20px;	
}

.linebox { 
			width: 550px;
			height: 700px;
			padding: 10px;	
}

#runnerimage {
			padding-top: 20px;
			padding-bottom: 10px;
			padding-left: 10px
			padding-right: 10px;
			width: 540px;
			height: 300px;
			margin-right: 5px;	
}

.connectwithmecontainer {
			width: 600px;
			height: 190px;
			margin-left: 0px;
			margin-top: 15px;
			text-align: left;		
}

.lineboxconnect {
			width: 550px;
			height: 180px;	
}

.footer {
		  width: 100%;
}

}



